.layout {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  .links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      padding: 0 5px;
    }
  }
  * {
    color: #333;
    text-decoration: none;
  }
}

.home {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .homeNav {
    width: 60%;
    font-size: calc(1em + 1vw);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

    a {
      margin: 90px;
      font-family: Gotham, Tahoma, sans-serif;
      font-weight: 900;
      color: #606263;
      letter-spacing: 1px;
      transition: color 0.75s ease-in-out;
      text-transform: uppercase;
      position: relative;
      border: 4px solid pink;
      -moz-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
      -webkit-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
      -o-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
      border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
    }

    a:hover {
      color: #333;
      transition: color 0.75s ease-in-out;
    }

    a:after {
      content: '';
      position: absolute;
      bottom: -5px;
      padding-right: 5px;
      left: -5px;
      width: 100%;
      height: 100%;
      border-bottom: 5px solid #333;
      border-right: 5px solid #333;
      visibility: hidden;
    }

    a:before {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      padding-left: 5px;
      width: 100%;
      height: 100%;
      border-top: 5px solid #333;
      border-left: 5px solid #333;
      visibility: hidden;
    }

    a:hover:before {
      animation: topleft 0.5s ease-in-out forwards;
    }

    a:hover:after {
      animation: bottomright 0.5s ease-in-out forwards;
    }

    a.active:before {
      animation: revtopleft 0.5s ease-in-out forwards;
    }

    a.active:after {
      animation: revbottomright 0.5s ease-in-out forwards;
    }

    a.active:before,
    a.active:after {
      width: 100%;
      height: 100%;
      visibility: visible;
    }

    a.temp:before,
    a.temp:after {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
  }

  * {
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
}

@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  50% {
    height: 100%;
    width: 100%;
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes revbottomright {
  0% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  50% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  75% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  100% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: hidden;
  }
}

@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes revtopleft {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  100% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
}
