.layout {
  display: flex;
  flex-direction: column;
  .mondrian {
    align-self: center;
  }
  .description {
    align-self: center;
  }
}
.homeLayout {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -ms-transition: background-image 0.5s linear;
  -o-transition: background-image 0.5s linear;

  .links * {
    color: #fff;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  .logo {
    width: 150px;
    padding: 10px 0;
    img {
      max-width: 100%;
    }
  }
  .links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      margin: 0 10px;
    }
    .icon {
      margin: 0 5px;
    }
  }
  * {
    color: #333;
    text-decoration: none;
    // padding: 0 10px;
  }
  .active {
    border-bottom: 2px solid pink;
    padding-bottom: 1px;
  }
}

.home {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .homeNav {
    width: 80%;
    font-size: calc(1em + 1vw);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

    .homeLink {
      margin: 20px 60px;
      font-family: Gotham, Tahoma, sans-serif;
      font-weight: 900;
      color: #606263;
      letter-spacing: 1px;
      transition: color 0.75s ease-in-out;
      text-transform: uppercase;
      position: relative;
      border: 4px solid pink;
      -moz-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
      -webkit-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
      -o-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
      border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg)
        5 round;
    }

    a:hover {
      color: #333;
      transition: color 0.75s ease-in-out;
    }

    a:after {
      content: '';
      position: absolute;
      bottom: -5px;
      padding-right: 5px;
      left: -5px;
      width: 100%;
      height: 100%;
      border-bottom: 5px solid #333;
      border-right: 5px solid #333;
      visibility: hidden;
    }

    a:before {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      padding-left: 5px;
      width: 100%;
      height: 100%;
      border-top: 5px solid #333;
      border-left: 5px solid #333;
      visibility: hidden;
    }

    a:hover:before {
      animation: topleft 0.5s ease-in-out forwards;
    }

    a:hover:after {
      animation: bottomright 0.5s ease-in-out forwards;
    }

    a.active:before {
      animation: revtopleft 0.5s ease-in-out forwards;
    }

    a.active:after {
      animation: revbottomright 0.5s ease-in-out forwards;
    }

    a.active:before,
    a.active:after {
      width: 100%;
      height: 100%;
      visibility: visible;
    }

    a.temp:before,
    a.temp:after {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
  }

  * {
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 100px;
}
.description {
  width: 40%;
  // height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  margin: 20px 0;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.mondrian {
  width: 80vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  * {
    transition: all 5s ease-in-out;
  }

  li {
    margin: 7px;
    grid-row: span 2;

    img {
      max-width: 100%;
    }
  }
  // .big {
  //   grid-row: span 3;
  //   grid-column: span 2;
  // }
  // .vertLong {
  //   grid-row: span 4;
  // }
}
@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  50% {
    height: 100%;
    width: 100%;
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes revbottomright {
  0% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  50% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  75% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  100% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: hidden;
  }
}

@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes revtopleft {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  100% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
}
